<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>

  <body>
    <div id="left-container">
      <a href="/" id="home-link" class="blue-txt mulish-ftt">
        <img src="/images/211686_back_arrow_icon.svg" alt="home back button">
        Home
      </a>
      <h1 class="blue-txt sora-ftt"><%= title %></h1>
      <form action="/new" method="post" id="form" class="mulish-ftt">
          <label for="name">First Name:</label>
          <input type="text" name="firstname" id="firstname">
          <label for="name">Last Name:</label>
          <input type="text" name="lastname" id="lastname">
          <label for="message">Message:</label>
          <textarea name="message" id="message" maxlength="90"></textarea>

          <div id="form-btns">
            <input type="reset" value="Clear" class="danger-txt danger-bg mulish-ftt" id="clear-btn">
            <input type="submit" value="Publish" class="blue-bg mulish-ftt" id="submit-btn">
          </div>
      </form>
      <%- include('footer')%>


    </div>
    <div id="right-container"></div>


  </body>
</html>
