<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
        <input type="text" name="name" id="name">
        <input type="text" name="message" id="message">
        <input type="submit" value="Submit">
    </form>
  </body>
  <a href="/">Back to message board</a>

</html>
